html, body {
	background: white;
	font-family: 'Lato', sans-serif;
	width: 100%;
	height: 100%;
	margin: 0px;
}

#nav-bar{
	position:	absolute;
	top:		0px;
	right:  	0px;
	padding:	15px;
	color:		white;
	height:		40px;
}

#nav-bar a {
	text-transform: uppercase;
	letter-spacing: 5px;
	font-size: 12px;
	display: inline-block;
	margin: 5px 20px;
	text-decoration: none;
}

.home:hover {
	color: rgb(37,159,248);
}

.games:hover {
	color: rgb(33,178,22);
}

.resume:hover {
	color: rgb(255,75,51);
}

#container{
	display: flex;
	width: 100vw;
	height: 100vh;
	padding: 0px;
	margin: 0px;
	justify-content: center;
}

#ProfilePic {
	display: flex;
	align-items: center;
	justify-content: center;
	flex: 1 1 auto;
	min-width: 500px;
}

#Description {
	display: flex;
	align-items: center;
	flex: 2 1 auto;
	margin: 80px;
	max-width: 600px;
}

p {
	font-size: 20px;
}