html, body {
	background: white;
	font-family: 'Lato', sans-serif;
	width: 100%;
	height: 100%;
}

p {
	color: black;
	font-size: 15px;

}

b{
	font-size: 20px; 
}

img {
	display: flex; 
	align-items: center; 
	justify-content: center;
	height: auto;
	width: 50%;
	border-style: solid; 
	border-width: 3px; 
	border-color: black; 
	padding: 0px;
	margin: 75px auto;
}

#nav-bar{
	position:	absolute;
	top:		0px;
	right:  	0px;
	padding:	15px;
	color:		white;
	height:		40px;
}

#nav-bar a {
	text-transform: uppercase;
	letter-spacing: 5px;
	font-size: 12px;
	display: inline-block;
	margin: 5px 20px;
	text-decoration: none;
}

#Text{
	width: 50%;
	height: auto;
	margin: 0 auto;
}

#Quote{
	display: flex; 
	align-items: center;
	justify-content: center;
	font-size: 13px;
}

#container{
	display: 		flex;
	align-items: 	center;
	justify-content: center; 
	flex-flow: row wrap;
/*	min-height:		calc(100vh - 40px);*/
	min-width: 		100vw;
/*	height: calc(100vh - 40px);*/
	width: 100vw;
	margin: 15px;
}

#container a {
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size: 8px;
	display: inline-block;
	margin: 5px 20px;
	text-decoration: none;
}

.home:hover {
	color: rgb(37,159,248);
}

.about:hover {
	color: rgb(33,178,22);
}

.resume:hover {
	color: rgb(255,75,51);
}

.rules{
	border: 2px solid black;
	padding: 4px;
}