body{
	background: 	black;
	font-family: 'Lato', sans-serif;
	margin:			0px;
}

#topbar{
	color:	white;
	text-align: center;
	font-size: 15px;
	margin: 10px auto;
}

#topbar h1 {
	margin: 0;
	height: 40px;
	font-weight: 400;
}

#nav-bar{
	position:	absolute;
	top:		0px;
	right:  	0px;
	padding:	15px;
	color:		white;
	height:		40px;
}

#nav-bar a {
	text-transform: uppercase;
	letter-spacing: 5px;
	font-size: 12px;
	display: inline-block;
	margin: 5px 20px;
	text-decoration: none;
}

#nav-bar a:hover {
	
}

#container{
	display: 		flex;
	align-items: 	center;
	justify-content: center; 
	flex-flow: row wrap;
	min-height:		calc(100vh - 40px);
	min-width: 		100vw;
	height: calc(100vh - 40px);
	width: 100vw;
}

.home:hover {
	color: rgb(37,159,248);
}

.about:hover {
	color: rgb(33,178,22);
}

.resume:hover {
	color: rgb(255,75,51);
}

.game{
	min-width: 50%;
    width: 50%;
    min-height: 50%;
    height: 50%;
    box-sizing: border-box;
    text-decoration: none;
	border:			10px black solid;
	background: 	red; 
}

.title{
	color:	blackß;
	text-decoration: none; 
	height: 100%;
	width: 100%;
}

.clockshots{
	background: url('../images/Clockshots.png');
	background-size: cover;
}

.axolotl{
	background: url('../images/AxolotlGameplay.png');
	background-size: cover;
}

.malwar{
	background: url('../images/MalWar.png');
	background-size: cover;
}

.toomanycooks{
	background: url('../images/TooManyCooks.jpeg');
	background-size: cover;
}

a{
	color:	white;
}

.game h1 {
	display: block;
	height: 100%;
	margin: 0;
	z-index: 100;
	width: 100%;
	text-align: center; 
	display:	flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	background: rgba(256,256,256,0.75);
	opacity: 0;
	transition: opacity 0.3s;
	text-transform: uppercase;
	letter-spacing: 8px;
	font-size: 52px;
	font-weight: 900;
}

.game h1 div {
	letter-spacing: 0px;
	text-transform: none;
	font-weight: normal;
	font-size: 18px;
	padding: 20px;
}

.game:hover h1 {
	opacity: 1;
	transtion: opacity 0.3s;
	color: black;
}

@media only screen and (max-device-width: 768px) {
    .game {
    	height: 25%;
    	min-height: 25%;
    	width: 100%;
    	min-width: 100%;
    }
}